<% layout("/layouts/boilerplate") %>

<div class ="row">
    <div class="alert alert-danger col-6 offset-3 text-center" role="alert">
        <h1 class="display-4">Error Occurred</h1>
        <h1>Error: <%= error.status || 500 %></h1>
        <p><%= error.message || "Something went wrong" %></p>
        <p><%= error.stack %> </p>
        </div>
</div>