<% layout('layouts/boilerplate') %>
<div class="container mt-5">
  <div class="card shadow-sm p-4">
    <h1 class="mb-4">Sign Up to WANDERLUST</h1>
    <form
      class="needs-validation"
      novalidate
      method="POST"
      action="/login"
    >
     <!-- Username -->
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          id="username"
          name="username"
          type="text"
          class="form-control"
          placeholder="Choose a username"
          required
        />
        </div>  
      <!-- Password -->
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          id="password"
          name="password"
          type="password"
          class="form-control"
          placeholder="Enter your password"
          required
        />
        </div>

      <!-- Submit -->
      <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
  </div>
</div>
